@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  --color-cm-green: #007a5e;
  --color-cm-red: #ce1126;
  --color-cm-yellow: #fcd116;
}

@layer base {
  body {
    @apply bg-[#fdfaf6] text-slate-900;
  }
}

@layer components {
  .toghu-pattern {
    background-image: radial-gradient(var(--color-cm-yellow) 1px, transparent 0);
    background-size: 24px 24px;
    background-position: -12px -12px;
  }
  
  .toghu-border {
    border-style: solid;
    border-width: 8px;
    border-image: repeating-linear-gradient(45deg, #fcd116, #fcd116 10px, #ce1126 10px, #ce1126 20px, #007a5e 20px, #007a5e 30px, #000 30px, #000 40px) 20;
  }

  .african-btn {
    @apply relative overflow-hidden px-8 py-4 bg-slate-900 text-white font-black rounded-xl transition-all hover:bg-cm-green hover:shadow-2xl active:scale-95;
  }
}
